  <div class="homeContainer">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "37B8F404-9FBA-4AF6-8099-1F1E7BC3B81F_4_5005_c_tplvoo", height: 300, crop: :fill %>')">
    <li class="text-center">
    <h1 class="firstHeader">Create Movie Lists</h1>
      <div class="text-center">
         <div>
          <%= link_to "See lists", lists_path(), class: "homeButton m-auto" %>
        </div>
      </div>
    </li>
  </div>
</div>
