// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.listHeader {
  color: red;
}

.moviePoster {
  height: 500px;
  border-radius: 10px;

}

.bookmarkName {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: aquamarine;
  width: 150px;
  padding: 15px;
  border-radius: 10px;
}

.linksDisplay {
  margin: 20px;
}

.loop {
  padding: 20px;
}
